:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #808080;
  --color-yellow: #ffcc00;
  --color-green: #28a745;
  --color-red: #dc3545;
}

.button-logout {
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.button-logout:hover {
  background-color: #e6b800;
}

.button-validate:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.button-error {
  background-color: var(--color-red);
  color: var(--color-white);
}
